


  a:link {
    color: tomato;
}
.rounded {
  border-radius: 15px;
  background-color: cornflowerblue;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}



li {
  display: inline;
}

      